{% extends 'base.html.twig' %}

{% block title %}Recette index{% endblock %}

{% block body %}
    <h1>Recette index</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-left">Id</th>
                <th class="text-left">Nom</th>
                <th class="text-left">Ingredients</th>
                <th class="text-left">Etapes</th>
                <th class="text-left">Description</th>
                <th class="text-left">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}
            <tr>
                <td class="text-left">{{ recette.id }}</td>
                <td class="text-left">{{ recette.name }}</td>
                <td class="text-left">{{ recette.ingredients | raw }}</td>
                <td class="text-left">{{ recette.etapes | raw }}</td>
                <td class="text-left">{{ recette.description | raw }}</td>
                <td class="text-left">
                    <a href="{{ path('app_recette_show', {'id': recette.id}) }}">show</a>
                    <a href="{{ path('app_recette_edit', {'id': recette.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_recette_new') }}"><button class="button">Create new</button></a>
{% endblock %}
